<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sitemap>
            <blog_category>
                <priority>0.5</priority>
                <changefreq>daily</changefreq>
            </blog_category>
            <blog_post>
                <priority>0.75</priority>
                <changefreq>daily</changefreq>
            </blog_post>
        </sitemap>
    </default>
</config>
